<mat-toolbar>
  @if(shouldShowBackButton()){
  <button mat-icon-button (click)="goHome()" (keydown.enter)="goHome()" (keydown.space)="goHome()" tabindex="0">
    <mat-icon>arrow_back</mat-icon>
  </button>
  } @else {
  <mat-icon tabindex="0">pets</mat-icon>
  }
  <span class="title" (click)="goHome()" (keydown.enter)="goHome()" (keydown.space)="goHome()" tabindex="0">
    {{'common.appName' | translate}}
  </span>
  <button mat-stroked-button (click)="switchLanguage()" (keydown.enter)="switchLanguage()"
    (keydown.space)="switchLanguage()" tabindex="0">
    <mat-icon>language</mat-icon>
    {{'common.language' | translate }}
  </button>
</mat-toolbar>
<router-outlet />
